<!-- 
# delete_nodes_without_evidence.html.erb - Deletes Host Nodes that don't have any Evidence associated with them in a specific project
#
# Copyright (C) 2018 Security Roots Ltd.
#
# This file is part of the Dradis Pro Scripting Examples (DPSE) collection.
# The collection can be found at
#   https://github.com/securityroots/dradispro-scripting
#
# DPSE free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# DPSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with DPSE.  If not, see <http://www.gnu.org/licenses/>.

USAGE: 
1. Upload this script to Dradis as an HTML template by navigating to Templates > Reports in the header and uploading this script under the HTML tab
2. Navigate to your project and click Export results. Select this file from the HTML tab and click Export
3. Review the output in the new tab and confirm that the script has run as expected!
--> 

<h1>Deleting all Host Nodes that don't have any Evidence associated with them</h1>
<% Node.set_project_scope(project.id) %>
<% Evidence.set_project_scope(project.id) %>

<ul>
<% Node.where(type_id: 1).each do |n| %>
	<% if Evidence.where(node_id: n.id).count == 0 %>
	  <li><p>No Evidence associated with <%= n.label %>, deleting</p></li>
	  <% n.destroy %>
	<% end %>
<% end %>
</ul>
