<!-- 
# hide_duplicate_evidence.html.erb - If instances of Evidence are duplicates of each other, set the second instance to Export|No
#
# Copyright (C) 2020 Security Roots Ltd.
#
# This file is part of the Dradis Pro Scripting Examples (DPSE) collection.
# The collection can be found at
#   https://github.com/securityroots/dradispro-scripting
#
# DPSE free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# DPSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with DPSE.  If not, see <http://www.gnu.org/licenses/>.
USAGE: 
1. Upload this script to Dradis as an HTML template by navigating to Templates > Reports in the header and uploading this script under the HTML tab
2. Navigate to your project and click Export results. Select this file from the HTML tab and click Export
3. Review the output in the new tab and confirm that the script has run as expected!
--> 

<h1>Setting duplicate instances of Evidence to Export|No</h1>
<h2>Please resolve any issues that appear below</h2>

<% issues.each do |issue| %>
	<% if issue.affected.empty? %>
    <p><strong>No evidence found for "<%= issue.fields['Title'] %>"</strong></p>
  <% elsif issue.evidence.count == 1 %>
  	<p><strong>Only 1 instance of Evidence for  "<%= issue.fields['Title'] %>"</strong></p>
  <% else %>
  	<% intC = issue.evidence.count - 1 %>
  	<% while intC > 0 %>
  		<% if issue.evidence[intC].content == issue.evidence[intC - 1].content %>
  			<p>Duplicate Evidence for  "<%= issue.fields['Title'] %>" identified</p>
  			<% issue.evidence[intC - 1].set_field('Export', 'No')%>
  			<% issue.evidence[intC - 1].save %>
  		<% end %>
  		<% intC = intC - 1 %>
  	<% end %>
  <% end %>
<% end %>

<h1>Set any duplicate instances of Evidence to Export|No</h1>
