<!-- 
# issue_id.html.erb - creates an #[ID]# field for all issues and inserts the Issue ID in that field, i.e. 
# /pro/projects/[project number]/issues/[issue ID] in the web app
#
# Copyright (C) 2020 Security Roots Ltd.
#
# This file is part of the Dradis Pro Scripting Examples (DPSE) collection.
# The collection can be found at
#   https://github.com/securityroots/dradispro-scripting
#
# DPSE free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# DPSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with DPSE.  If not, see <http://www.gnu.org/licenses/>.
USAGE: 
1. Upload this script to Dradis as an HTML template by navigating to Templates > Reports in the header and uploading this script under the HTML tab
2. Navigate to your project and click Export results. Select this file from the HTML tab and click Export
3. Review the output in the new tab and confirm that the script has run as expected!
--> 

<% for issue in issues;
  issue.set_field('ID', "#{issue.id}")
  issue.save
end %>
<h1>All Issues Updated!</h1>
<p>Please close this tab</p>
